---
facebook_settings:
    consumer_key : foo1
    consumer_secret : foo2
    oauth_token : foo0red
    oauth_token_secret : fooblue
cookie_settings:
    secret : a_long_string
mysql_settings:
    database : dbname
    user : username_string
    password : password_string
    
